{{#if username.length}}
  <h1>{{username}}</h1>
{{else}}
  <a href="/login" class='btn waves-effect waves-light'>Авторизуйся</a>
{{/if}}

<div class="user-form">
  <ul class="users">
    <li class="person active">
      <div class="logo" style="background-color: blue"></div>
      <h5>User 1</h5>
    </li>

    <li class="person">
      <div class="logo" style="background-color: green"></div>
      <h5>User 2</h5>
    </li>

    <li class="person">
      <div class="logo" style="background-color: gold"></div>
      <h5>User 3</h5>
    </li>
  </ul>

  <div>
    <ul class="messages">
      <li class="person">Повідомлення від користувача</li>
      <li>Моє повідомлення</li>
      <li class="person">Повідомлення від користувача</li>
      <li>Моє повідомлення</li>
      <li class="person">Повідомлення від користувача</li>
      <li>Моє повідомлення</li>
      <li>Повідомлення від користувача</li>
      <li>Моє повідомлення</li>
      <li class="person">Повідомлення від користувача</li>
      <li>Моє повідомлення</li>
      <li class="person">Повідомлення від користувача</li>
      <li>Моє повідомлення</li>
    </ul>

    <form id="messForm">
      <label for="message">Текст</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <input type="submit" class="btn" value="Відправити">
    </form>
  </div>
</div>

<div id="all-mess"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script>
  //   $(function (){
  //     var socket = io.connect();
  //     var $form = $("#messForm")
  //     var $message = $('#message')
  //     var $allMess = $("#all-mess");
  //     var $nameNew = $("#name-new");
  //     var $name = $("#name");
  //
  //     $form.submit(function (e){
  //       e.preventDefault();
  //       socket.emit('send mess', {nameNew: $nameNew.val(), name: $name.val()});
  //       $message.val('');
  //     });
  //
  //     socket.on('add mess', function (data){
  //       $allMess.append(`<div>${data.name}</div>`)
  //     })
  //   })
</script>
