<h2>Авторизація</h2>

<form action="/login" method="POST">
  <div class="input-file">
    <input type="text" name="name" placeholder="Логін">
  </div>

  <button type="submit" class="btn">Авторизуватися</button>
</form>