<h2>Реєстрація</h2>

<form action="/sign-up" method="POST">
  <div class="input-file">
    <input type="text" name="name" placeholder="Логін">
  </div>

  <button type="submit" class="btn">Зареєструватися</button>
</form>